<head>

<link href="https://fonts.googleapis.com/css?family=Creepster%7CRoboto+Slab" rel="stylesheet">
</head>

<div class="form">
<form action="/poll/create" method="post">
    <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>">
    <div>Name: <input id="name" name="name" type="text"></div> <br>
    <input type="submit" value="submit"style="border-radius: 200px;">
</form>     
</div>      

<div class="columns">
    <% @trello.each do |notes|%>
    <div class="option">
        <%=poll.title%>    
    </div>
    <%end%> 
</div>